@import url("https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,100..900;1,100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Quicksand:wght@300..700&display=swap");
@import "tailwindcss";

:root {
	--background: oklch(0.985 0 0);
	--foreground: oklch(0.145 0 0);
	--primary: oklch(0.7148 0.1712 52.97);
	--primary-foreground: oklch(0.985 0 0);
	--secondary: oklch(0.3883 0.1185 263.67);
	--secondary-foreground: oklch(0.985 0 0);

	--font-sans:
		"Plus Jakarta Sans", "Inter", ui-sans-serif, system-ui, sans-serif,
		"Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	--font-display: "Quicksand", sans-serif;
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--color-primary: var(--primary);
	--color-primary-foreground: var(--primary-foreground);
	--color-secondary: var(--secondary);
	--color-secondary-foreground: var(--secondary-foreground);

	--font-sans: var(--font-sans);
	--font-display: var(--font-display);
}

@layer base {
	@apply bg-background text-foreground;
}
